/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/

form {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1lt {
    padding-bottom: 20px;
}

label {
    display: block;
}

input {
    /*display: inline-block;*/
}

/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    bottom: 0px!important;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/