/*
====================================================================================================================================================================
                                                    Start Courses Page 
====================================================================================================================================================================
*/

section#courses {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.course, div.course2, div.course3 {
    padding: 15px;
}

h6 {
	font-size: 1em;
}


/*
====================================================================================================================================================================
                                                    End Courses Page 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    margin-top: 1230px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

@media screen and (max-width: 1216px) {
    footer {
        margin-top: 1300px;
    }
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/

 