/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/

section#techsupport {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text, .text2, .text3{
    /*padding: 10px;*/
}

footer#techsupport {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    margin-top: 465px;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

@media screen and (max-width: 1216px) {
    .computersupport, .computersupport2, .computersupport3 {
        padding: 15px;
    }
    footer#techsupport {
        margin-top: 800px;
    }
}

@media screen and (max-width: 877px) {
    footer#techsupport {
        margin-top: 1240px;
    }
}

/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/


